.wrapper {
  position: fixed;
  left: 50%;
  right: auto;
  bottom: 24px;
  z-index: 1400;
  transform: translateX(-50%);
}

.errorMessage {
  display: flex;
  padding: 10px 16px;
  border-radius: 5px;
  background: #d48680;
  box-shadow: 0px 1px 18px 0px rgba(0, 0, 0, 0.12);
  font-weight: 500;
  color: #fff;

  button {
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 20px;
    background: transparent;
    border: none;
    color: #fff;

    &:hover, &:focus {
      border: 0;
      outline: 0;
    }
  }
}


