.load {
  position: absolute;
  left: 50%;
  top: 72px;
  transform: translate(-50%, 10%);
  z-index: 1000;

  .loading {
    font-size: 25px;
  }

  .loading:after {
    content: '.';
    font-weight: bold;
    animation: loading 1s ease alternate infinite;
  }
}

@keyframes loading {
  60% {
    text-shadow: 0.35em 0 0 currentColor;
  }
  100% {
    text-shadow: 0.35em 0 0 currentColor, 0.75em 0 0 currentColor;
  }
}


