.modalOverlay {
  background-color: rgba(0, 0, 0, 0.2);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 2;
}

.modal {
  background: #fff;
  max-width: 600px;
  width: 100%;
  border-radius: 10px;
  padding: 30px 30px 10px 30px;
  position: fixed;
  top: 50%;
  left: 50%;
  z-index: 1000;
  transform: translate(-50%, -50%);
  box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.3);
  color: #080232;
  animation: modal .5s both;

  .modalClose {
    cursor: pointer;
    font-size: 38px;
    font-weight: 500;
    position: absolute;
    right: 20px;
    top: -1px;
    color: #080232;
  }
}

@keyframes modal {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }

}
