.chatBlock {
  max-width: 600px;
  width: 100%;
  display: flex;
  flex-wrap: wrap;

  .wrapper {
    max-height: 350px;
    width: 100%;
    overflow-y: auto;
  }

  textarea {
    width: 100%;
    height: 40px;
    resize: vertical;
    color: #6a59c6;
    background-color: rgb(247, 247, 247);
    border: 2px solid rgb(229, 229, 229);

    &:focus {
      outline: none;
      border: 2px solid #55608f;
    }
  }

  .dialogItem {
    width: 100%;
    display: flex;
    padding: 15px;

    img {
      height: 60px;
    }
  }

  .messageBody {
    margin-left: 5%;

    p {
      opacity: .8;
      font-size: 12px;
    }

    h5 {
      color: #6a59c6;
      margin-bottom: 20px;

      span {
        margin-left: 40px;
        opacity: .8;
      }
    }
  }
}
